.deviceCard {
  background: var(--neutral-0);
  border-radius: 8px;
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-1);
  padding-bottom: var(--space-1);
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.16s ease, transform 0.12s ease;
  will-change: transform, box-shadow;
  outline: 1px solid var(--neutral-3);
  overflow: overlay;
}

.deviceCard:focus-visible {
  outline: 1px solid var(--color-primary-ublue-06);
}

.deviceCard:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.deviceCard:hover .thumbBox {
  background-color: var(--neutral-9);
}

.deviceCard.selected {
  outline: 1px solid var(--color-primary-ublue-06);
}

.thumbBox {
  width: 100%;
  padding: 8px;
  aspect-ratio: 3 / 2;
  background: var(--Neutral-web-unifi-color-neutral-01, #f9fafa);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
}

.deviceIcon {
  width: 160px;
  height: 80px;
  object-fit: contain;
  display: block;
  mix-blend-mode: darken;
}

.deviceInfo {
  width: 100%;
  padding: var(--space-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  box-sizing: border-box;
}

.deviceInfo:focus-within {
  outline: none;
}

.deviceName {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-wrap: balance;
}

.deviceModel {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.45);
  margin: 0;
}

.modelBadge {
  position: absolute;
  left: 176px;
  top: 4px;
  padding: 2px 4px;
  background: var(--neutral-0);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 400;
  color: var(--color-primary-ublue-06);
  z-index: 2;
}

@media (max-width: 520px) {
  .deviceCard {
    max-width: 100%;
    padding: 10px;
  }
  .thumbBox {
    aspect-ratio: 4 / 3;
  }
}
